.gridPeliculas{
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.button {
    background-color: #912C22;
    color: white;
    border-radius: 2px;
    transition: all 300ms;
    padding: 20px;
    width: 100%;
    font-size: large;
    border: 1px solid #912C22;
}

.pagination{
    display: grid;
    grid-template-columns: repeat(auto-fill,40%);
    align-content: space-between;
    justify-content: center;
    gap: 40px;

}


.halfButton{
    background-color: #912C22;
    color: white;
    border-radius: 2px;
    transition: all 300ms;
    padding: 20px;
    width: 100%;
    font-size: large;
    border: 1px solid #912C22;
}