.buttom {
    background-color: #912C22;
    color: white;
    border-radius: 2px;
    transition: all 300ms;
    padding: 20px;
    font-size: large;
    border: 1px solid #912C22;
}
.icon{
    margin-right: 6px;
}